@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">No Place Like Home</h1>
    <img src="https://st3.depositphotos.com/1041273/13511/v/450/depositphotos_135116206-stock-illustration-hand-drawn-mountains.jpg" alt="home sketch" />
</div>
